<h1>Leo's awesome application</h1>
<a href="http://localhost:3000/oauth/authorize?response_type=code&state=authorize_leo_app&client_id=10&redirect_uri=http://localhost:3001/o_auth/strava&scope=write+view_private">Authorize with Strava</a>

