%p
  = link_to(image_tag('connect-with-strava-large.png'), "#{Settings.strava.host}/oauth/authorize?response_type=code&state=authorize_leo_app&client_id=#{Settings.strava.app_id}&redirect_uri=#{strava_o_auth_url}&scope=write+view_private")
